
/*
 * Minimal Application level overrides
 * (things that dont make sense in a toolkit :)
 * copyright @colossal 2015
 */

.block {
 overflow: hidden;
}


/* navbar */
.app-navbar {
  font-size: 13px;
  letter-spacing: .15em;
}
.app-navbar .navbar-brand {
  font-size: 13px;
}

/* intro block */
.app-block-intro {
  padding-top: 20px;
}
.app-block-intro img {
  width: 80%;
  margin-bottom: -25%;
}
.app-block-cta {
  margin-top: -6em;
}

@media (min-width: 1200px) {
  .app-block-intro img {
    width: 90%;
  }
}

/* block img */
.app-block-game img,
.app-block-stats img {
  width: 100%;
}
@media (max-width: 480px) {
  .app-block-game-img {
    transform: scale(1.5) !important;
  }
}

/* stats hr */
.app-block-stats hr {
  width: calc(80% + 60px);
}

/* design block */
.app-block-design > .container > .row {
  z-index: 2;
}

.app-block-design-img {
  margin-top: -60px;
  margin-left: -450px;
  float: left;
  width: 100%;
}

@media (min-width: 768px) {
  .app-block-design-img {
    margin-top: -220px;
    margin-left: 0;
  }
}

/* footer block */
.app-block-footer {
  background-color: rgb(27, 28, 29);
  color: #444;
  color: rgba(116, 119, 123, .5);
}


/* transforms */
.app-translate-15 {
  -webkit-transform: translateY(15px);
      -ms-transform: translateY(15px);
          transform: translateY(15px);
}
.app-translate-50 {
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
}
.app-translate-5 {
  -webkit-transform: translateY(5%);
      -ms-transform: translateY(5%);
          transform: translateY(5%);
}
.app-translate-10 {
  -webkit-transform: translateY(10%);
      -ms-transform: translateY(10%);
          transform: translateY(10%);
}


/* brand */

@media (max-width: 400px) {
  .brand-name {
    font-size: 46px !important;
  }
}
@media (max-width: 350px) {
  .brand-name {
    font-size: 42px !important;
  }
}

div.download-develop-deploy .tab-pane {
  padding: 2em 0;
}

div.download-develop-deploy .command {
  color: #685D9F;
}

div.download-develop-deploy .callout {
  margin-bottom: 14em;
}

div.app-block-footer {
  margin-top: 5em;
}

div.container-blog h1 {
  color: #685D9F;
  font-weight: 300;
}

div.container-blog h2 {
  font-weight: 400;
}

p.summary {
  font-size: 1.4em;
}

div.container-article h2 {
  font-weight: 600;
}

div.container-article h3 {
  font-weight: 400;
}

p.lead {
  margin-top: 3em;
  font-size: 2em;
}

div.article-body {
  font-size: 1.4em;
}

#lotus {
  color: #fff;
  background-color: #685D9F;
  line-height: 5em;
}

#lotus a {
  color: #fff;
  text-decoration: underline;
}
