<!DOCTYPE html>
<html lang="en">
  <head>
    <%= partial 'head' %>
  </head>

  <body>
    <%= partial 'navbar' %>

    <div class="container">
      <%= yield %>
    </div>

    <%= partial 'footer' %>
  </body>
</html>
