---
layout: false
---

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Hanami | Guides</title>
    <meta http-equiv="refresh" content="0;URL='<%= latest_stable_version_path %>'" />
  </head>
  <body>
    <p>Please visit API docs for our <a href="<%= latest_stable_version_path %>">latest stable version</a>.</p>
  </body>
</html>
