// Import UI elements
@import "modules/colors";
@import "modules/typography";
@import "modules/variables";
@import "modules/animate";
@import "modules/buttons";

body.blog {
  section {
    padding-top: 60px;
  }

  div.meta {
    margin-top: 12px;
    font-size: 14px;
    color: #918888;
    font-family: "proxima-nova-soft", sans-serif;
  }
}
