@import "modules/colors";

body.docs {
  section {
    padding-top: 60px;
  }

  .main {
    .page-header {
      margin-top: 0;
    }
  }

  @media screen and (min-width: 992px) {
    .main {
      padding-left: 60px;
      border-left: 1px #ECECEC solid;
    }
  }

  .sidebar {
    padding: 0;

    .nav-sidebar {
      > li {
        margin-bottom: 24px;
      }

      .heading  {
        font-family: "futura-pt", sans-serif;
        font-size: 14px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #2c3e50;
        font-weight: 600;
        padding: 10px 15px;
      }

      .nav > li > a {
        color: #ff994d;
        &:hover {
          border-radius: 3px;
          background-color: #ff994d;
          color: #fff;
        }
      }
    }
  }
}

