.btn {
  padding: 13px 30px;
  font-size: 18px;
}

.btn-primary {
  background-color: $violet;
  border-color: transparent;
  font-weight: 600;

  &:hover,
  &:active {
    background-color: darken($violet, 10%)!important;
    border-color: transparent!important;
  }
}
