<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.inc.title }} &dash; {{ site.inc.subtitle }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lotus is a full stack web framework for Ruby"/>
    <meta name="keywords" content="lotus,web,framework,ruby,open source,oss,os,software,free,free software,architecture,fast,lightweight,testing,tdd,bdd,test driven development,behaviour driven development,full stack,mvc,model view object,pattern,patterns,design patterns,oop,object oriented programming,testability,http,https,routing,router,http router,restful,resource,resources,convention,controller,models,repository,query,sql,interactors,two-step view,view,template,presenters,render,rendering,helpers,erb,haml,tilt,json,xml,yaml,yml,framwork,framewrok,riby,free sowftare"/>
    <link rel="canonical" href="http://lotusrb.org/" />
    <link rel="shortcut icon" href="./startup/flat-ui/images/favicon.ico">
    {% stylesheet main %}
    <!--[if lt IE 9]>
    {{ 'html5shiv' | javascript }}
    <![endif]-->
  </head>
  <body>
    <!-- header-10 -->
    <header class="header-10">
    <div class="container">
      <div class="navbar span12">
        <div class="navbar-inner">
          <button type="button" class="btn btn-navbar"> </button>
          <a class="brand" href="#">{{ site.inc.title }}</a>
          <div class="nav-collapse collapse pull-right">
            <ul class="nav">
              <li><a data-section="features" href="#">Features</a></li>
              <li><a data-section="frameworks" href="#">Frameworks</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </header>

    <!-- header  -->
    <section class="header-10-sub v-center">
      <div class="background">&nbsp;</div>
      <div>
        <div class="container">
          <div class="hero-unit">
            <h1>A complete web framework for Ruby</h1>
            <p>Lotus is Open Source Software for MVC web development.<br />It's simple, fast and lightweight.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- features  -->
    <section class="blog-2" id="features">
    <div class="background hidden-phone">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div>
              <img src="/images/macbook-pro.jpg" >
            </div>
          </div>
        </div>
      </div><!--/.container-->
    </div>

    <div class="container">
      <div class="row">
        <div class="span7 offset5">
          <h3>
            Features
          </h3>
          <div class="promo">
            <h4>A complete framework</h4>
            <p>Lotus is <strong>lightweight</strong>, <strong>fast</strong> and <strong>testable</strong>.
            It aims to bring back Object Oriented Programming to web development,
            leveraging a <strong>stable API</strong>, <strong>minimal DSL</strong> and plain objects.</p>
          </div>
          <h6>Philosophy</h6>
          <p>Lotus is Open Source Software, which strives for simplicity, less DSLs,
          minimal conventions, more objects, zero monkey-patching and the separation of concerns between MVC layers.</p>

          <p>It suggests best practices, but it leaves <strong>all the freedom to you</strong>, the developer,
          to build your own architecture, with your own objects.</p>

          <p>Lotus is made of <strong>standalone frameworks</strong> (controllers, views, etc.) and each one is shipped as an independent gem to emphasize the separation of concerns.</p>
          <p><a data-section="frameworks" class="btn btn-inverse" href="#">Learn more</a></p>
        </div>
      </div>
    </div><!--/.container-->
    </section>

    <!-- content-6  -->
    <section class="content-6 v-center" id="frameworks">
    <div>
      <div class="container">
        <h3> Frameworks </h3>
        <p class="lead">Lotus is made of many frameworks.</p>
        <div class="row features">
          <div class="span4 offset1">
            <h6>Lotus</h6>
            <p>
              <strong>Full stack web applications</strong><br />
              <a href="http://rubygems.org/gems/lotusrb" target="_blank">Gem</a> • <a href="http://rdoc.info/gems/lotusrb" target="_blank">API</a> • <a href="https://github.com/lotus/lotus" target="_blank">Source Code</a>
            </p>
          </div>
          <div class="span4 offset2">
            <h6>Lotus::Model</h6>
            <p>
              <strong>Model layer for Lotus</strong><br />
              <a href="http://rubygems.org/gems/lotus-model" target="_blank">Gem</a> • <a href="http://rdoc.info/gems/lotus-model" target="_blank">API</a> • <a href="https://github.com/lotus/model" target="_blank">Source Code</a>
            </p>
          </div>
        </div>
        <div class="row features">
          <div class="span4 offset1">
            <h6>Lotus::Router</h6>
            <p>
              <strong>Rack compatible, lightweight and fast HTTP Router for Lotus</strong><br />
              <a href="http://rubygems.org/gems/lotus-router" target="_blank">Gem</a> • <a href="http://rdoc.info/gems/lotus-router" target="_blank">API</a> • <a href="https://github.com/lotus/router" target="_blank">Source Code</a>
            </p>
          </div>
          <div class="span4 offset2">
            <h6>Lotus::View</h6>
            <p>
              <strong>View layer for Lotus</strong><br />
              <a href="http://rubygems.org/gems/lotus-view" target="_blank">Gem</a> • <a href="http://rdoc.info/gems/lotus-view" target="_blank">API</a> • <a href="https://github.com/lotus/view" target="_blank">Source Code</a>
            </p>
          </div>
        </div>
        <div class="row features">
          <div class="span4 offset1">
            <h6>Lotus::Utils</h6>
            <p>
              <strong>Ruby core extensions and class utilities for Lotus</strong><br />
              <a href="http://rubygems.org/gems/lotus-utils" target="_blank">Gem</a> • <a href="http://rdoc.info/gems/lotus-utils" target="_blank">API</a> • <a href="https://github.com/lotus/utils" target="_blank">Source Code</a>
            </p>
          </div>
          <div class="span4 offset2">
            <h6>Lotus::Controller</h6>
            <p>
              <strong>Controller layer for Lotus</strong><br />
              <a href="http://rubygems.org/gems/lotus-controller" target="_blank">Gem</a> • <a href="http://rdoc.info/gems/lotus-controller" target="_blank">API</a> • <a href="https://github.com/lotus/controller" target="_blank">Source Code</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    </section>

    <!-- content-13  -->
    <section class="content-13 subscribe-form bg-clouds">
    <div class="container">
      <div class="row">
        <form action="http://lotusrb.us3.list-manage.com/subscribe/post" method="POST">
          <input type="hidden" name="u" value="dcbeefa4ba1ea9ae043857005">
          <input type="hidden" name="id" value="fb3873a90f">
          <input type="hidden" name="orig-lang" value="1">
          <div class="span8">
            <input type="email" placeholder="enter your email" spellcheck="false" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0"  value="">
          </div>
          <div class="span4">
            <button class="btn btn-large" type="submit">Subscribe now</button>
          </div>
        </form>
      </div>
    </div>
    </section>

    <!-- footer-3 -->
    <footer class="footer-3">
    <div class="container">
      <div class="row v-center">
        <div class="span2">
          <div class="span2">
            <a class="brand" href="#">{{ site.inc.title }}</a>
          </div>
        </div>
        <div>
          <div class="span7">
            <div class="additional-links">&copy; 2014 <a href="http://lucaguidi.com" target="_blank">Luca Guidi</a> &dash; Lotus is released under the MIT License.</div>
          </div>
        </div>
      </div>
    </div>
    </footer>

    <script type="text/javascript" src="//use.typekit.net/xhp5wmc.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    {% javascript main %}
    <!--[if lt IE 8]>
    {{ 'icon-font-ie7' | javascript }}
    <![endif]-->
    {% include _google-analytics.html %}
  </body>
</html>
