<div id="hanami2" class="text-xs-center">
  <div class="container">
    <div class="row">
      We have just released <strong>Hanami 2.1.0.rc2</strong>!

      Read the <a href="/blog/2023/11/08/hanami-210rc2/">announcement</a>.
    </div>
  </div>
</div>
