<div id="hanami2" class="text-xs-center">
  <div class="container">
    <div class="row">
      We're working on <strong>Hanami 2.0</strong>. Read the <a href="/blog/2021/05/04/announcing-hanami-200alpha2/">latest announcement</a> and follow the <a href="https://github.com/hanami/hanami/tree/main">progress</a> on GitHub.
    </div>
  </div>
</div>
