<div id="hanami2" class="text-xs-center">
  <div class="container">
    <div class="row">
      We have just released <strong>Hanami 2.1.0.beta1</strong>!

      Read the <a href="/blog/2023/06/29/announcing-hanami-210beta1/">announcement</a>.
    </div>
  </div>
</div>
