<div id="hanami2" class="text-xs-center">
  <div class="container">
    <div class="row">
      We're working on <strong>Hanami 2.0</strong>. Follow the <a href="https://github.com/hanami/hanami/tree/unstable">progress</a> on GitHub.
    </div>
  </div>
</div>
