<div id="hanami2" class="text-xs-center">
  <div class="container">
    <div class="row">
      We have just released <strong>Hanami 2.1.0.rc3</strong>!

      Read the <a href="/blog/2024/02/16/hanami-210rc3/">announcement</a>.
    </div>
  </div>
</div>
