<div id="hanami2" class="text-xs-center">
  <div class="container">
    <div class="row">
      We have just released <strong>Hanami 2.0</strong>!

      Read the <a href="/blog/2022/11/22/announcing-hanami-200/">announcement</a>.
    </div>
  </div>
</div>
