<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Hanami - The web, with simplicity" />
<meta name="keywords" content="hanami,hanamirb,lotus,lotusrb,web,framework,ruby,open source,oss,os,software,free,free software,architecture,fast,lightweight,testing,tdd,bdd,test driven development,behaviour driven development,full stack,mvc,model view object,pattern,patterns,design patterns,oop,object oriented programming,testability,http,https,routing,router,http router,restful,resource,resources,convention,controller,models,repository,query,sql,interactors,two-step view,view,template,presenters,render,rendering,helpers,erb,haml,tilt,json,xml,yaml,yml,framwork,framewrok,riby,free sowftare"/>
<meta name="author" content="Luca Guidi">
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<link href="/atom.xml" rel="alternate" title="Hanami" type="application/atom+xml" />
<%= favicon_tag 'images/favicon.ico' %>

<title>Hanami | <%= current_page.data.title || "The web, with simplicity" %></title>

<link href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Overpass:200,300,400,700" rel="stylesheet">
<%= stylesheet_link_tag 'toolkit-minimal' %>
<%= stylesheet_link_tag 'application-minimal' %>
