<div id="lotus" class="text-xs-center">
  <div class="container">
    <div class="row">
      Looking for <strong>Lotus</strong>? We renamed the project and it's now called <strong>Hanami</strong>. Read the <a href="/blog/2016/01/22/lotus-is-now-hanami">announcement</a>.
    </div>
  </div>
</div>
