---
title: Community
---

<h1>Community</h1>
<p class="lead">We strive for an inclusive and helpful community. We have a <a href="#code-of-conduct">Code of Conduct</a> to handle controversial cases. In general, we expect <strong>you</strong> to <strong>be nice</strong> with other people.<br>Our hope is for a great software and a great community.</p>

<h2 class="page-header">Code Repository</h2>
<p>Hanami's official code repository is on Github. If you find any bugs, please report them by opening an issue. Also, pull requests are always welcome. We will get back to you as soon as possible.</p>
<a href="https://github.com/hanami" target="_blank">github.com/hanami</a>

<h2 class="page-header">Chat Room</h2>
<p>We have an official chat room on Gitter. If you need a quick question answered, this is the best place to do it. Also, if you are working on a project and you need any kind of advice, please feel free to ask. Someone will be there to answer most of the times. We are always happy to help.</p>
<a href="https://gitter.im/hanami/chat" target="_blank">hanami/chat</a>

<h2 class="page-header">Blog</h2>
<p>On the official Hanami blog, you can find the detailed announcements for new releases, some interesting use cases and things the team writes around the code they usually write.</p>
<a href="/blog">Hanami Blog</a>

<h2 class="page-header">Discussion Forum</h2>
<p>The Hanami forum is a good place for general discussions. Feel free to ask a question, share your project with others, ask for guidance and best practices, offer your help contributing to a project, or anything else.</p>
<a href="https://discourse.hanamirb.org" target="_blank">discourse.hanamirb.org</a>

<h2 class="page-header">Twitter</h2>
<p>We regularly tweet general announcements on releases and events where Hanami is represented in any way. We also retweet interesting tweets from the Hanami and Ruby community. Please mention @hanamirb if you are tweeting about Hanami.</p>
<a href="https://twitter.com/hanamirb" target="_blank">@hanamirb</a>

<h2 class="page-header">Reddit</h2>
<p>On our reddit page, we link blog posts about new releases, have links to useful Hanami learning material, and have interesting discussions with the Hanami community.</p>
<a href="https://www.reddit.com/r/hanamirb/" target="_blank">r/hanamirb</a>

<h2 class="page-header">StackOverflow</h2>
<p>If you have any questions about Hanami, you can always ask on StackOverflow. Make sure you use the Hanami tag. You can also always help others solving their problems. You will make others happy, as you are when you get help.</p>
<a href="https://stackoverflow.com/questions/tagged/hanami" target="_blank">hanami tag</a>

<h2 class="page-header">Awesome Hanami</h2>
<p>The awesome-hanami Github repository lists Hanami gems, libraries and projects that use Hanami. Also, there are some useful links to know more about Hanami and its users.</p>
<a href="http://awesome-hanami.org" target="_blank">awesome-hanami.org</a>

<h2 class="page-header">Mailing List</h2>
<p>To stay updated with the latest releases, to receive code examples, implementation details and announcements, please consider to subscribe to the <a href="/mailing-list">Hanami mailing list</a>.</p>

<h2 class="page-header">Conference Talks about Hanami</h2>
<p>
  <ul>
    <li><a href="https://twitter.com/parndt">Philip Arndt</a> and <a href="https://twitter.com/samseay">Samuel Seay</a> - <a href="https://www.youtube.com/watch?v=aVxJ0GyD3vw">Taking Refinery off the Rails</a> - @ <a href="http://www.rubyconf.org.au/2017">RubyConf AU 2017</a></li>
    <li><a href="https://twitter.com/_toch">Christophe Philemotte</a> - <a href="https://speakerdeck.com/toch/build-a-web-api-with-hanami">Building a Web API with Hanami</a> - @ <a href="https://confoo.ca/en">ConFoo.CA 2017</a></li>
    <li><a href="https://twitter.com/jodosha">Luca Guidi</a> - <a href="https://www.youtube.com/watch?v=0RyitUKfUFE">Lessons Learned While Building Hanami</a> - @ <a href="http://www.rubyday.it/">RubyDay IT 2016</li>
    <li><a href="https://twitter.com/_toch">Christophe Philemotte</a> - <a href="https://speakerdeck.com/toch/build-a-web-api-with-hanami">Building a Web API with Hanami</a> - @ <a href="http://takeoffconf.com/2016">TakeOffConf 2016</a></li>
    <li><a href="https://twitter.com/jmcharnes">Jason Charnes</a> - <a href="https://www.youtube.com/watch?v=99mCHPZ-Qro">A Handy Look at Hanami</a> - @ <a href="http://www.codedaze.io/">Daze Conf 2016</a></li>
    <li><a href="https://twitter.com/anton_davydov">Anton Davydov</a> - <a href="https://www.youtube.com/watch?v=3L6I4UoK8xM">Viewing Ruby Blossom</a> - @ <a href="http://euruko2016.org/">EURUKO 2016</a></li>
    <li><a href="http://twitter.com/heatherhsin">Heather Lim</a> - <a href="https://www.youtube.com/watch?v=88snSsNkDlU">Ruby & The Repository Pattern with Hanami</a> - @ <a href="https://www.meetup.com/it-IT/NYC-rb/events/230515892/">NYC.rb meetup (August 2016)</a></li>
    <li><a href="https://twitter.com/weppos">Simon Carletti</a> - <a href="https://www.youtube.com/watch?v=FkWt7ep5XRM">Developing and Maintaining a Platform With Rails and Lotus</a> - @ <a href="http://railsconf.com/2016/program">RailsConf 2016</a></li>
    <li><a href="https://twitter.com/jodosha">Luca Guidi</a> - <a href="https://www.youtube.com/watch?v=roePP0WVAg4">Introduction to Hamani</a> - @ <a href="https://www.meetup.com/ClevelandRuby/">Cleveland Ruby Brigade</a></li>
    <li><a href="https://twitter.com/nbancajas">Norman Ancajas</a> - <a href="https://www.youtube.com/watch?v=2V4_qjOl68w">Hanami Framework</a> - @ <a href="https://www.meetup.com/ruby-phil/events/228765148/">Philippine Ruby Users Group February 2016 meetup</a></li>
    <li><a href="https://twitter.com/jodosha">Luca Guidi</a> - <a href="https://www.youtube.com/watch?v=3GOHlXEeToM">Towards a better web development with Lotus</a> - @ <a href="http://rubyconf.pt/">RubyConf Portugal 2015</a></li>
  </ul>
</p>

<h2 class="page-header">Local User Groups</h2>
<p>Find and join a local Hanami user group and spread the word about Hanami. Share experiences and help others to get started! If you consider starting a new local user group, feel free to get in touch with us and we can help you with the setup.</p>
<ul>
  <li><a href="http://www.meetup.com/hanamirb-sp-brazil-meetups" target="_blank">Hanami User Group @ São Paulo, Brazil</a> (<a href="https://twitter.com/hanamirb_sp" target="_blank">@hanamirb_sp</a>)</li>
</ul>

<h2 class="page-header">Contribute to Hanami</h2>
<p>Help is welcome and much appreciated, whether you are an experienced developer or just looking for sending your first pull request. Please check the open tikets. Be sure to follow the Contributor Code of Conduct below.</p>
<a href="https://github.com/search?utf8=%E2%9C%93&q=user%3Ahanami+state%3Aopen+label%3Aeasy+label%3Ahelp-wanted&type=Issues&ref=searchresults" target="_blank">Open Tickets</a>


<a name="code-of-conduct"></a>

<h2 class="page-header">Contributor Code of Conduct</h2>
<h3>Our Pledge</h3>

<p>In the interest of fostering an open and welcoming environment, we as
contributors and maintainers pledge to making participation in our project and
our community a harassment-free experience for everyone, regardless of age, body
size, disability, ethnicity, gender identity and expression, level of experience,
nationality, personal appearance, race, religion, or sexual identity and
orientation.</p>

<h3>Our Standards</h3>

<p>Examples of behavior that contribute to creating a positive environment
include:</p>

<ul>
  <li>Using welcoming and inclusive language</li>
  <li>Being respectful of differing viewpoints and experiences</li>
  <li>Gracefully accepting constructive criticism</li>
  <li>Focusing on what is best for the community</li>
  <li>Showing empathy towards other community members</li>
</ul>

<p>Examples of unacceptable behavior by participants include:</p>

<ul>
  <li>The use of sexualized language or imagery and unwelcome sexual attention or advances</li>
  <li>Trolling, insulting/derogatory comments, and personal or political attacks</li>
  <li>Public or private harassment</li>
  <li>Publishing others' private information, such as a physical or electronic address, without explicit permission</li>
  <li>Other conduct which could reasonably be considered inappropriate in a professional setting</li>
</ul>

<h3>Our Responsibilities</h3>

<p>Project maintainers are responsible for clarifying the standards of acceptable
behavior and are expected to take appropriate and fair corrective action in
response to any instances of unacceptable behavior.</p>

<p>Project maintainers have the right and responsibility to remove, edit, or
reject comments, commits, code, wiki edits, issues, and other contributions
that are not aligned to this Code of Conduct, or to ban temporarily or
permanently any contributor for other behaviors that they deem inappropriate,
threatening, offensive, or harmful.</p>

<h3>Scope</h3>

<p>This Code of Conduct applies both within project spaces and in public spaces
when an individual is representing the project or its community. Examples of
representing a project or community include using an official project e-mail
address, posting via an official social media account, or acting as an appointed
representative at an online or offline event. Representation of a project may be
further defined and clarified by project maintainers.</p>

<h3>Enforcement</h3>

<p>Instances of abusive, harassing, or otherwise unacceptable behavior may be
reported by contacting the project team at admin@hanamirb.org. All
complaints will be reviewed and investigated and will result in a response that
is deemed necessary and appropriate to the circumstances. The project team is
obligated to maintain confidentiality with regard to the reporter of an incident.
Further details of specific enforcement policies may be posted separately.</p>

<p>Project maintainers who do not follow or enforce the Code of Conduct in good
faith may face temporary or permanent repercussions as determined by other
members of the project's leadership.</p>

<h3>Attribution</h3>

<p>This Code of Conduct is adapted from the <a href="http://contributor-covenant.org">Contributor Covenant</a>, version 1.4,
available at <a href="http://contributor-covenant.org/version/1/4/">http://contributor-covenant.org/version/1/4</a>.</p>

<h2 class="page-header">Logos</h2>
<p>The Hanami logo is © Luca Guidi, but you can download and use it for non-commercial purposes.</p>
<ul>
  <li><a href="/files/logo.sketch" target="_blank">Sketch file</a></li>
  <li><a href="/files/logo.eps"    target="_blank">EPS format</a></li>
  <li><a href="/files/logo.png"    target="_blank">High resolution PNG</a></li>
</ul>
