---
title: Community
---

<h1>Community</h1>
<p class="lead">We strive for an inclusive and helpful community. We have a <a href="#code-of-conduct">Code of Conduct</a> to handle controversial cases. In general, we expect <strong>you</strong> to <strong>be nice</strong> with other people.<br>Our hope is for a great software and a great Community.</p>

<h2 class="page-header">Code Repository</h2>
<p>The Hanami official code repository is on Github, so any bugs you find should be reported here - and pull requests are always welcome.</p>
<a href="https://github.com/hanami" target="_blank">github.com/hanami</a>


<h2 class="page-header">General Discussion</h2>
<p>The Hanami forum is the first to-go place for any general discussion. Feel free to ask a question, share your project with others, ask for guidance and best practices, offer your help contributing to a project, or anything else.</p>
<a href="https://discourse.hanamirb.org" target="_blank">discourse.hanamirb.org</a>


<h2 class="page-header">New Releases, Use Cases and More</h2>
<p>In the official Hanami blog, you can find the detailed announcements for new releases, some interesting use cases and things the team write around the code they usually write.</p>
<a href="/blog">Hanami Blog</a>

<h2 class="page-header">Chat Room</h2>
<p>The Gitter room is the official chat room for Hanami. You can drop a quick question here to try and get it answered quickly, ask for guidance, or engage on a short discussion on a feature or project you are interested in. Make sure to keep the discussion organised, and consider using the mailing list if the chat drags for too long.</p>
<a href="https://gitter.im/hanami/chat" target="_blank">hanami/chat</a>

<h2 class="page-header">General Announcements and Events</h2>
<p>The Twitter account will often tweet general announcements on releases and events, and retweet any interesting articles from the tweetosphere. Be sure to mention it if you are tweeting about Hanami!</p>
<a href="https://twitter.com/hanamirb" target="_blank">@hanamirb</a>

<h2 class="page-header">Share Your Work</h2>
<p>The Hanami subreddit contains announcements on new releases, interesting gems, blog posts, and is in general a good place to share your work with the rest of the Hanami community.</p>
<a href="https://www.reddit.com/r/hanamirb/" target="_blank">r/hanamirb</a>

<h2 class="page-header">Ask for Help</h2>
<p>Of course, there is a hanami tag in StackOverflow. Ask for help with your Hanami project there, or help other people solve theirs - learning & sharing all the way through.</p>
<a href="https://stackoverflow.com/questions/tagged/hanami" target="_blank">hanami tag</a>

<h2 class="page-header">Curated List of Hanami Projects, Gems, Tools and Tutorials</h2>
<p>Following the awesome-lists tradition, the awesome-hanami Github repository contains a curated list of Hanami projects, gems, tools and tutorials.</p>
<a href="http://awesome-hanami.org" target="_blank">awesome-hanami.org</a>

<h2 class="page-header">Mailing List</h2>
<p>To stay updated with the latest releases, to receive code examples, implementation details and announcements, please consider to subscribe to the <a href="/mailing-list">Hanami mailing list</a>.</p>

<h2 class="page-header">Local User Groups</h2>
<p>Find and join to a Local User Group near you and spread the word about Hanami. Share experiences and help others to get started!</p>
<ul>
  <li><a href="http://www.meetup.com/hanamirb-sp-brazil-meetups" target="_blank">Hanami User Group @ São Paulo, Brazil</a> (<a href="https://twitter.com/hanamirb_sp" target="_blank">@hanamirb_sp</a>)</li>
</ul>

<h2 class="page-header">Contribute to Hanami</h2>
<p>Help is welcome and much appreciated, whether you are an experienced developer or just looking for sending your first pull request. Please check the open tikets.</p>
<a href="https://github.com/search?utf8=%E2%9C%93&q=user%3Ahanami+state%3Aopen+label%3Aeasy+label%3Ahelp-wanted&type=Issues&ref=searchresults" target="_blank">Open Tickets</a>

<h2 class="page-header">Images</h2>
<p>Hanami is full open source. That's why you can download our logo in different formats:</p>
<ul>
  <li><a href="/files/logo.sketch" target="_blank">Sketch file</a></li>
  <li><a href="/files/logo.eps"    target="_blank">EPS format</a></li>
  <li><a href="/files/logo.png"    target="_blank">High resolution PNG</a></li>
</ul>

<a name="code-of-conduct"></a>

<h2 class="page-header">Contributor Code of Conduct</h2>
<h3>Our Pledge</h3>

<p>In the interest of fostering an open and welcoming environment, we as
contributors and maintainers pledge to making participation in our project and
our community a harassment-free experience for everyone, regardless of age, body
size, disability, ethnicity, gender identity and expression, level of experience,
nationality, personal appearance, race, religion, or sexual identity and
orientation.</p>

<h3>Our Standards</h3>

<p>Examples of behavior that contribute to creating a positive environment
include:</p>

<ul>
  <li>Using welcoming and inclusive language</li>
  <li>Being respectful of differing viewpoints and experiences</li>
  <li>Gracefully accepting constructive criticism</li>
  <li>Focusing on what is best for the community</li>
  <li>Showing empathy towards other community members</li>
</ul>

<p>Examples of unacceptable behavior by participants include:</p>

<ul>
  <li>The use of sexualized language or imagery and unwelcome sexual attention or advances</li>
  <li>Trolling, insulting/derogatory comments, and personal or political attacks</li>
  <li>Public or private harassment</li>
  <li>Publishing others' private information, such as a physical or electronic address, without explicit permission</li>
  <li>Other conduct which could reasonably be considered inappropriate in a professional setting</li>
</ul>

<h3>Our Responsibilities</h3>

<p>Project maintainers are responsible for clarifying the standards of acceptable
behavior and are expected to take appropriate and fair corrective action in
response to any instances of unacceptable behavior.</p>

<p>Project maintainers have the right and responsibility to remove, edit, or
reject comments, commits, code, wiki edits, issues, and other contributions
that are not aligned to this Code of Conduct, or to ban temporarily or
permanently any contributor for other behaviors that they deem inappropriate,
threatening, offensive, or harmful.</p>

<h3>Scope</h3>

<p>This Code of Conduct applies both within project spaces and in public spaces
when an individual is representing the project or its community. Examples of
representing a project or community include using an official project e-mail
address, posting via an official social media account, or acting as an appointed
representative at an online or offline event. Representation of a project may be
further defined and clarified by project maintainers.</p>

<h3>Enforcement</h3>

<p>Instances of abusive, harassing, or otherwise unacceptable behavior may be
reported by contacting the project team at [INSERT EMAIL ADDRESS]. All
complaints will be reviewed and investigated and will result in a response that
is deemed necessary and appropriate to the circumstances. The project team is
obligated to maintain confidentiality with regard to the reporter of an incident.
Further details of specific enforcement policies may be posted separately.</p>

<p>Project maintainers who do not follow or enforce the Code of Conduct in good
faith may face temporary or permanent repercussions as determined by other
members of the project's leadership.</p>

<h3>Attribution</h3>

<p>This Code of Conduct is adapted from the <a href="http://contributor-covenant.org">Contributor Covenant</a>, version 1.4,
available at <a href="http://contributor-covenant.org/version/1/4/">http://contributor-covenant.org/version/1/4</a>.</p>

