---
title: Lotus - Community
---

<h1 class="page-header" id="guides">Lotus Community</h1>
<p class="lead">Sometimes you want to start some content with a lead paragraph. <strong>Note: In the current example each item in the sidebar is a seperate page.  You can also have all the content be on a single page and use the sidebar as anchor links.</strong></p>

<h2>Code of Conduct</h2>
<p>TBD</p>

<h2>Newsletter</h2>
<p>TBD</p>

<h2>Forum & Chat</h2>
<p><a href="https://discuss.lotusrb.org" target="_blank">Forum</a> & <a href="http://chat.lotusrb.org" target="_blank">Chat</a></p>

<h2>Twitter</h2>
<p>Follow us on <a href="https://twitter.com/lotus_rb" target="_blank">Twitter</a> and track the <a href="https://twitter.com/search?q=lotusrb" target="_blank">discussions</a>.
