---
title: Community
---

<h1>Community</h1>
<p class="lead">We strive for an inclusive and helpful community. We have a <a href="#code-of-conduct">Code of Conduct</a> to handle controversial cases. In general, we expect <strong>you</strong> to <strong>be nice</strong> with other people.<br>Our hope is for a great software and a great community.</p>

<h2 class="page-header">Code Repository</h2>
<p>Hanami's official code repository is on Github. If you find any bugs, please report them by opening an issue. Also, pull requests are always welcome. We will get back to you as soon as possible.</p>
<a href="https://github.com/hanami" target="_blank">github.com/hanami</a>

<h2 class="page-header">Chat Room</h2>
<p>We have an official chat room on Gitter. If you need a quick question answered, this is the best place to do it. Also, if you are working on a project and you need any kind of advice, please feel free to ask. Someone will be there to answer most of the times. We are always happy to help.</p>
<a href="https://gitter.im/hanami/chat" target="_blank">hanami/chat</a>

<h2 class="page-header">Blog</h2>
<p>On the official Hanami blog, you can find the detailed announcements for new releases, some interesting use cases and things the team writes around the code they usually write.</p>
<a href="/blog">Hanami Blog</a>

<h2 class="page-header">Discussion Forum</h2>
<p>The Hanami forum is a good place for general discussions. Feel free to ask a question, share your project with others, ask for guidance and best practices, offer your help contributing to a project, or anything else.</p>
<a href="https://discourse.hanamirb.org" target="_blank">discourse.hanamirb.org</a>

<h2 class="page-header">Twitter</h2>
<p>We regularly tweet general announcements on releases and events where Hanami is represented in any way. We also retweet interesting tweets from the Hanami and Ruby community. Please mention <code>@hanamirb</code> or use <code>#hanamirb</code> if you are tweeting about Hanami.</p>
<a href="https://twitter.com/hanamirb" target="_blank">@hanamirb</a>, <a href="https://twitter.com/search?q=hanamirb" target="_blank">#hanamirb</a>

<h2 class="page-header">Reddit</h2>
<p>On our reddit page, we link blog posts about new releases, have links to useful Hanami learning material, and have interesting discussions with the Hanami community.</p>
<a href="https://www.reddit.com/r/hanamirb/" target="_blank">r/hanamirb</a>

<h2 class="page-header">StackOverflow</h2>
<p>If you have any questions about Hanami, you can always ask on StackOverflow. Make sure you use the Hanami tag. You can also always help others solving their problems. You will make others happy, as you are when you get help.</p>
<a href="https://stackoverflow.com/questions/tagged/hanami" target="_blank">hanami tag</a>

<h2 class="page-header">Awesome Hanami</h2>
<p>The awesome-hanami Github repository lists Hanami gems, libraries and projects that use Hanami. Also, there are some useful links to know more about Hanami and its users.</p>
<a href="http://awesome-hanami.org" target="_blank">awesome-hanami.org</a>

<h2 class="page-header">Hanami Mastery</h2>
<p>Hanami Mastery initiative is a collection of <strong>articles and video tutorials</strong> about Hanami and its dependencies, as well as all awesome gems that can be used within Hanami framework.</p>
<a href="https://hanamimastery.com/t/hanami" target="_blank">hanamimastery.com</a>, <a href="https://hanamimastery.com/t/hanami" target="_blank">Content Tagged with Hanami</a>

<h2 class="page-header">Mailing List</h2>
<p>To stay updated with the latest releases, to receive code examples, implementation details and announcements, please consider to subscribe to the <a href="/mailing-list">Hanami mailing list</a>.</p>

<h2 class="page-header">Conference Talks about Hanami</h2>
<p>
  <ul>
    <li><a href="https://twitter.com/parndt">Philip Arndt</a> and <a href="https://twitter.com/samseay">Samuel Seay</a> - <a href="https://www.youtube.com/watch?v=aVxJ0GyD3vw">Taking Refinery off the Rails</a> - @ <a href="http://www.rubyconf.org.au/2017">RubyConf AU 2017</a></li>
    <li><a href="https://twitter.com/_toch">Christophe Philemotte</a> - <a href="https://speakerdeck.com/toch/build-a-web-api-with-hanami">Building a Web API with Hanami</a> - @ <a href="https://confoo.ca/en">ConFoo.CA 2017</a></li>
    <li><a href="https://twitter.com/jodosha">Luca Guidi</a> - <a href="https://www.youtube.com/watch?v=0RyitUKfUFE">Lessons Learned While Building Hanami</a> - @ <a href="http://www.rubyday.it/">RubyDay IT 2016</li>
    <li><a href="https://twitter.com/_toch">Christophe Philemotte</a> - <a href="https://speakerdeck.com/toch/build-a-web-api-with-hanami">Building a Web API with Hanami</a> - @ <a href="http://takeoffconf.com/2016">TakeOffConf 2016</a></li>
    <li><a href="https://twitter.com/jmcharnes">Jason Charnes</a> - <a href="https://www.youtube.com/watch?v=99mCHPZ-Qro">A Handy Look at Hanami</a> - @ <a href="http://www.codedaze.io/">Daze Conf 2016</a></li>
    <li><a href="https://twitter.com/anton_davydov">Anton Davydov</a> - <a href="https://www.youtube.com/watch?v=3L6I4UoK8xM">Viewing Ruby Blossom</a> - @ <a href="http://euruko2016.org/">EURUKO 2016</a></li>
    <li><a href="http://twitter.com/heatherhsin">Heather Lim</a> - <a href="https://www.youtube.com/watch?v=88snSsNkDlU">Ruby & The Repository Pattern with Hanami</a> - @ <a href="https://www.meetup.com/it-IT/NYC-rb/events/230515892/">NYC.rb meetup (August 2016)</a></li>
    <li><a href="https://twitter.com/weppos">Simon Carletti</a> - <a href="https://www.youtube.com/watch?v=FkWt7ep5XRM">Developing and Maintaining a Platform With Rails and Lotus</a> - @ <a href="http://railsconf.com/2016/program">RailsConf 2016</a></li>
    <li><a href="https://twitter.com/jodosha">Luca Guidi</a> - <a href="https://www.youtube.com/watch?v=roePP0WVAg4">Introduction to Hamani</a> - @ <a href="https://www.meetup.com/ClevelandRuby/">Cleveland Ruby Brigade</a></li>
    <li><a href="https://twitter.com/nbancajas">Norman Ancajas</a> - <a href="https://www.youtube.com/watch?v=2V4_qjOl68w">Hanami Framework</a> - @ <a href="https://www.meetup.com/ruby-phil/events/228765148/">Philippine Ruby Users Group February 2016 meetup</a></li>
    <li><a href="https://twitter.com/jodosha">Luca Guidi</a> - <a href="https://www.youtube.com/watch?v=3GOHlXEeToM">Towards a better web development with Lotus</a> - @ <a href="http://rubyconf.pt/">RubyConf Portugal 2015</a></li>
  </ul>
</p>

<h2 class="page-header">Local User Groups</h2>
<p>Find and join a local Hanami user group and spread the word about Hanami. Share experiences and help others to get started! If you consider starting a new local user group, feel free to get in touch with us and we can help you with the setup.</p>
<ul>
  <li><a href="http://www.meetup.com/hanamirb-sp-brazil-meetups" target="_blank">Hanami User Group @ São Paulo, Brazil</a> (<a href="https://twitter.com/hanamirb_sp" target="_blank">@hanamirb_sp</a>)</li>
</ul>

<h2 class="page-header">Contribute to Hanami</h2>
<p>Help is welcome and much appreciated, whether you are an experienced developer or just looking for sending your first pull request. Please check the open tikets. Be sure to follow the Contributor Code of Conduct below.</p>
<a href="https://github.com/search?utf8=%E2%9C%93&q=user%3Ahanami+state%3Aopen+label%3Aeasy+label%3Ahelp-wanted&type=Issues&ref=searchresults" target="_blank">Open Tickets</a>

<%# BEGIN CODE OF CONDUCT %>
<h2 class="page-header" id="code-of-conduct">Contributor Covenant Code of Conduct</h2>

<h3 id="our-pledge">Our Pledge</h2>
<p>We as members, contributors, and leaders pledge to make participation in our community a harassment-free experience for everyone, regardless of age, body size, visible or invisible disability, ethnicity, sex characteristics, gender identity and expression, level of experience, education, socio-economic status, nationality, personal appearance, race, caste, color, religion, or sexual identity and orientation.</p>
<p>We pledge to act and interact in ways that contribute to an open, welcoming, diverse, inclusive, and healthy community.</p>

<h3 id="our-standards">Our Standards</h2>
<p>Examples of behavior that contributes to a positive environment for our community include:</p>
<ul>
  <li>Demonstrating empathy and kindness toward other people</li>
  <li>Being respectful of differing opinions, viewpoints, and experiences</li>
  <li>Giving and gracefully accepting constructive feedback</li>
  <li>Accepting responsibility and apologizing to those affected by our mistakes,
  and learning from the experience</li>
  <li>Focusing on what is best not just for us as individuals, but for the overall
  community</li>
</ul>
<p>Examples of unacceptable behavior include:</p>
<ul>
  <li>The use of sexualized language or imagery, and sexual attention or advances of
  any kind</li>
  <li>Trolling, insulting or derogatory comments, and personal or political attacks</li>
  <li>Public or private harassment</li>
  <li>Publishing others’ private information, such as a physical or email address,
  without their explicit permission</li>
  <li>Other conduct which could reasonably be considered inappropriate in a
  professional setting</li>
</ul>


<h3 id="enforcement-responsibilities">Enforcement Responsibilities</h2>
<p>Community leaders are responsible for clarifying and enforcing our standards of acceptable behavior and will take appropriate and fair corrective action in response to any behavior that they deem inappropriate, threatening, offensive, or harmful.</p>
<p>Community leaders have the right and responsibility to remove, edit, or reject comments, commits, code, wiki edits, issues, and other contributions that are not aligned to this Code of Conduct, and will communicate reasons for moderation decisions when appropriate.</p>

<h3 id="scope">Scope</h2>
<p>This Code of Conduct applies within all community spaces, and also applies when an individual is officially representing the community in public spaces. Examples of representing our community include using an official e-mail address, posting via an official social media account, or acting as an appointed representative at an online or offline event.</p>

<h3 id="enforcement">Enforcement</h2>
<p>Instances of abusive, harassing, or otherwise unacceptable behavior may be reported to the community leaders responsible for enforcement at admin@hanamirb.org. All complaints will be reviewed and investigated promptly and fairly.</p>
<p>All community leaders are obligated to respect the privacy and security of the reporter of any incident.</p>

<h3 id="enforcement-guidelines">Enforcement Guidelines</h2>
<p>Community leaders will follow these Community Impact Guidelines in determining the consequences for any action they deem in violation of this Code of Conduct:</p>
<h4 id="1-correction">1. Correction</h3>
<p><strong>Community Impact</strong>: Use of inappropriate language or other behavior deemed unprofessional or unwelcome in the community.</p>
<p><strong>Consequence</strong>: A private, written warning from community leaders, providing clarity around the nature of the violation and an explanation of why the behavior was inappropriate. A public apology may be requested.</p>
<h4 id="2-warning">2. Warning</h3>
<p><strong>Community Impact</strong>: A violation through a single incident or series of actions.</p>
<p><strong>Consequence</strong>: A warning with consequences for continued behavior. No interaction with the people involved, including unsolicited interaction with those enforcing the Code of Conduct, for a specified period of time. This includes avoiding interactions in community spaces as well as external channels like social media. Violating these terms may lead to a temporary or permanent ban.</p>
<h4 id="3-temporary-ban">3. Temporary Ban</h3>
<p><strong>Community Impact</strong>: A serious violation of community standards, including sustained inappropriate behavior.</p>
<p><strong>Consequence</strong>: A temporary ban from any sort of interaction or public communication with the community for a specified period of time. No public or private interaction with the people involved, including unsolicited interaction with those enforcing the Code of Conduct, is allowed during this period. Violating these terms may lead to a permanent ban.</p>
<h4 id="4-permanent-ban">4. Permanent Ban</h3>
<p><strong>Community Impact</strong>: Demonstrating a pattern of violation of community standards, including sustained inappropriate behavior, harassment of an individual, or aggression toward or disparagement of classes of individuals.</p>
<p><strong>Consequence</strong>: A permanent ban from any sort of public interaction within the community.</p>

<h3 id="attribution">Attribution</h2>
<p>This Code of Conduct is adapted from the <a href="https://www.contributor-covenant.org">Contributor Covenant</a>, <a href="https://www.contributor-covenant.org/version/2/1/code_of_conduct.html">version 2.1</a>.</p>
<%# END CODE OF CONDUCT %>

<h2 class="page-header">Logos</h2>
<p>The Hanami logo is © Luca Guidi, but you can download and use it for non-commercial purposes.</p>
<ul>
  <li><a href="/files/logo.sketch" target="_blank">Sketch file</a></li>
  <li><a href="/files/logo.eps"    target="_blank">EPS format</a></li>
  <li><a href="/files/logo.png"    target="_blank">High resolution PNG</a></li>
</ul>
