---
title: Hanami | Community
---

<h1 class="page-header">Hanami Community</h1>
<p class="lead">We strive for a Community made of <strong>inclusive, helpful and smart people</strong>. We have a <a href="#code-of-conduct">Code of Conduct</a> to handle controversial cases. In general, we expect <strong>you</strong> to <strong>be nice</strong> with other people.<br>Our hope is for a great software and a great Community.</p>

<a name="code-of-conduct"></a>
<h2>Contributor Code of Conduct</h2>

<p>As contributors and maintainers of this project, we pledge to respect all people who contribute through reporting issues, posting feature requests, updating documentation, submitting pull requests or patches, and other activities.</p>
<p>We are committed to making participation in this project a harassment-free experience for everyone, regardless of level of experience, gender, gender identity and expression, sexual orientation, disability, personal appearance, body size, race, ethnicity, age, or religion.</p>
<p>Examples of unacceptable behavior by participants include the use of sexual language or imagery, derogatory comments or personal attacks, trolling, public or private harassment, insults, or other unprofessional conduct.</p>
<p>Project maintainers have the right and responsibility to remove, edit, or reject comments, commits, code, wiki edits, issues, and other contributions that are not aligned to this Code of Conduct. Project maintainers who do not follow the Code of Conduct may be removed from the project team.</p>
<p>This code of conduct applies both within project spaces and in public spaces
when an individual is representing the project or its community.</p>
<p>Instances of abusive, harassing, or otherwise unacceptable behavior may be reported by opening an issue or contacting one or more of the project maintainers.</p>

<p>This Code of Conduct is adapted from the Contributor Covenant, version 1.1.0, available from
<a href="http://contributor-covenant.org/version/1/1/0/">http://contributor-covenant.org/version/1/1/0/</a></p>


<h2>Support</h2>
<p>If you need support for Hanami, please don't hesitate to ask, we're really happy to help. We have a <a href="http://chat.hanami.io" target="_blank">chat</a>, a <a href="https://discuss.hanami.io" target="_blank">forum</a> and a <a href="http://stackoverflow.com/questions/tagged/hanami" target="_blank">StackOverflow tag</a>.</p>

<h2>Twitter</h2>
<p>We have an official account <a href="https://twitter.com/hanamirb" target="_blank">(@hanamirb)</a> and a hashtag: <a href="https://twitter.com/search?q=hanamirb" target="_blank">#hanamirb</a>.

<h2>Mailing List</h2>
<p>To stay updated with the latest releases, to receive code examples, implementation details and announcements, please consider to subscribe to the <a href="/mailing-list">Hanami mailing list</a>.</p>
