---
title: Donate
---

<h1 class="page-header">Donate to Hanami</h1>
<p class="lead">Hanami is made by an <a href="/community">inclusive Community</a>.<br><strong>Please help us to stay independent: consider to <a href="https://salt.bountysource.com/teams/hanami">donate</a></strong>.</p>

<h2>Backers</h2>
<h3>A huge THANK YOU &lt;3 to our supporters!</h3>

<h4>
<a href="https://square-the-circle.com/">James Carlson</a>,
<a href="http://mcorp.com.br/">Leonardo Saraiva</a>,
<a href="https://tomdebruijn.com/">Tom de Bruijn</a>,
<a href="http://alexandergraefe.de/">Alexander Gräfe</a>,
<a href="https://github.com/mereghost">Marcello Rocha</a>,
<a href="http://notrudebuthonest.com/">Robert Gogolok</a>,
<a href="https://github.com/olistik">Maurizio De Magnis</a>
</h4>
