---
title: GitHub Sponsors
---

<h1 class="page-header">Become a Hanami Sponsor</h1>

<p class="lead">
  Hanami is made by an <a href="/community">inclusive Community</a>.
  <strong>Please help us stay independent and become a <a href="https://github.com/sponsors/hanami">Hanami sponsor on GitHub</a>.
</p>

<h1 class="page-header">Past Backers</h1>

<p>A huge THANK YOU &lt;3 to our supporters!</p>

<div class="supporters">
  <p>
    <a href="https://www.creditas.com.br" target="_blank">
      <img src="https://prod-jobsite-files.kenoby.com/uploads/creditas-1490643017-logopng.png" style="width: 100px">
    </a>
  </p>
  <a href="https://github.com/jxxcarlson">James Carlson</a>,
  <a href="https://github.com/vyper">Leonardo Saraiva</a>,
  <a href="https://github.com/tombruijn">Tom de Bruijn</a>,
  <a href="https://github.com/rickenharp">Alexander Gräfe</a>,
  <a href="https://github.com/mereghost">Marcello Rocha</a>,
  <a href="https://github.com/gogolok">Robert Gogolok</a>,
  <a href="https://github.com/olistik">Maurizio De Magnis</a>,
  <a href="https://github.com/jasoncharnes">Jason Charnes</a>,
  <a href="https://github.com/hlegius">Hélio Costa (hlegius)</a>,
  <a href="https://github.com/RyanSacha">Ryan Sacha</a>
</div>
