---
title: Guides
---

<h1 class="page-header">Guides</h1>
<p class="lead">Hanami Guides are now available at <a href="https://guides.hanamirb.org">https://guides.hanamirb.org</a>.</p>
<p>You'll be redirected in 5 seconds to the new location.</p>

<script type="text/javascript">
  console.log("script");
  window.setTimeout(function(){
    console.log("timeout");
    window.location = "https://guides.hanamirb.org";
  }, 5000);
</script>
