---
title: Hack Day
---
<h1 class="page-header">Hanami Hack Day</h1>
<p class="lead">Did you always wanted to play with Hanami but you keep saying: "I never find the time"?</p>

<p>As Hanami will <strong>approach to 1.0</strong>, we'll need your help, your feedback.. and <strong>your fun</strong>!
<strong>So, here's the deal.. we're organizing a Hack Day later this year!</strong></p>

<p>⬇️⬇️⬇️ If you want to get alerted, please consider to <strong>subscribe to our mailing list</strong> using the form below. ⬇️⬇️⬇️</p>
