---
title: Hanami | Mailing List
---

<h1 class="page-header">Mailing List</h1>
<h2>Hanami is a web framework for Ruby</h2>
<p class="lead">To stay updated with the latest releases, to receive code examples,<br />implementation details and announcements,<br>please consider to <b>subscribe</b> to the Hanami mailing list.</p>
