---
title: Status
---

<p>Hanami ecosystem consists of many different gems.</p>

<p>With so many projects, it can be difficult to keep up on the status
of each one. Below is a break-down for each part of Hanami, the current
stable released version, the build status for <tt>master</tt>, <tt>develop</tt>, and <tt>unstable</tt> branches.</p>

<table class="status">
  <tr>
    <th>Project</th>
    <th>Stable (1.1.x) </th>
    <th>Master (1.1.x) </th>
    <th>Develop (1.2.x) </th>
    <th>Unstable (2.0.x) </th>
  </tr>
  <tr>
    <td>
      <a href="http://github.com/hanami/hanami">
        Hanami
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami">
        <img src="https://badge.fury.io/rb/hanami.svg">
      </a>
      <a href="http://travis-ci.org/hanami/hanami?branch=1.1.x">
        <img src="https://secure.travis-ci.org/hanami/hanami.svg?branch=1.1.x">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/hanami?branch=master">
        <img src="https://secure.travis-ci.org/hanami/hanami.svg?branch=master">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/hanami?branch=develop">
        <img src="https://secure.travis-ci.org/hanami/hanami.svg?branch=develop">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/hanami?branch=unstable">
        <img src="https://secure.travis-ci.org/hanami/hanami.svg?branch=unstable">
      </a>
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/model">
        Model
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-model">
        <img src="https://badge.fury.io/rb/hanami-model.svg">
      </a>
      <a href="http://travis-ci.org/hanami/model?branch=1.1.x">
        <img src="https://secure.travis-ci.org/hanami/model.svg?branch=1.1.x">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/model?branch=master">
        <img src="https://secure.travis-ci.org/hanami/model.svg?branch=master">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/model?branch=develop">
        <img src="https://secure.travis-ci.org/hanami/model.svg?branch=develop">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/model?branch=unstable">
        <img src="https://secure.travis-ci.org/hanami/model.svg?branch=unstable">
      </a>
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/assets">
        Assets
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-assets">
        <img src="https://badge.fury.io/rb/hanami-assets.svg">
      </a>
      <a href="http://travis-ci.org/hanami/assets?branch=1.1.x">
        <img src="https://secure.travis-ci.org/hanami/assets.svg?branch=1.1.x">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/assets?branch=master">
        <img src="https://secure.travis-ci.org/hanami/assets.svg?branch=master">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/assets?branch=develop">
        <img src="https://secure.travis-ci.org/hanami/assets.svg?branch=develop">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/assets?branch=unstable">
        <img src="https://secure.travis-ci.org/hanami/assets.svg?branch=unstable">
      </a>
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/cli">
        CLI
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-cli">
        <img src="https://badge.fury.io/rb/hanami-cli.svg">
      </a>
      <a href="http://travis-ci.org/hanami/cli?branch=1.1.x">
        <img src="https://secure.travis-ci.org/hanami/cli.svg?branch=1.1.x">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/cli?branch=master">
        <img src="https://secure.travis-ci.org/hanami/cli.svg?branch=master">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/cli?branch=develop">
        <img src="https://secure.travis-ci.org/hanami/cli.svg?branch=develop">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/cli?branch=unstable">
        <img src="https://secure.travis-ci.org/hanami/cli.svg?branch=unstable">
      </a>
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/mailer">
        Mailer
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-mailer">
        <img src="https://badge.fury.io/rb/hanami-mailer.svg">
      </a>
      <a href="http://travis-ci.org/hanami/mailer?branch=1.1.x">
        <img src="https://secure.travis-ci.org/hanami/mailer.svg?branch=1.1.x">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/mailer?branch=master">
        <img src="https://secure.travis-ci.org/hanami/mailer.svg?branch=master">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/mailer?branch=develop">
        <img src="https://secure.travis-ci.org/hanami/mailer.svg?branch=develop">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/mailer?branch=unstable">
        <img src="https://secure.travis-ci.org/hanami/mailer.svg?branch=unstable">
      </a>
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/helpers">
        Helpers
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-helpers">
        <img src="https://badge.fury.io/rb/hanami-helpers.svg">
      </a>
      <a href="http://travis-ci.org/hanami/helpers?branch=1.1.x">
        <img src="https://secure.travis-ci.org/hanami/helpers.svg?branch=1.1.x">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/helpers?branch=master">
        <img src="https://secure.travis-ci.org/hanami/helpers.svg?branch=master">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/helpers?branch=develop">
        <img src="https://secure.travis-ci.org/hanami/helpers.svg?branch=develop">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/helpers?branch=unstable">
        <img src="https://secure.travis-ci.org/hanami/helpers.svg?branch=unstable">
      </a>
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/view">
        View
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-view">
        <img src="https://badge.fury.io/rb/hanami-view.svg">
      </a>
      <a href="http://travis-ci.org/hanami/view?branch=1.1.x">
        <img src="https://secure.travis-ci.org/hanami/view.svg?branch=1.1.x">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/view?branch=master">
        <img src="https://secure.travis-ci.org/hanami/view.svg?branch=master">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/view?branch=develop">
        <img src="https://secure.travis-ci.org/hanami/view.svg?branch=develop">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/view?branch=unstable">
        <img src="https://secure.travis-ci.org/hanami/view.svg?branch=unstable">
      </a>
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/controller">
        Controller
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-controller">
        <img src="https://badge.fury.io/rb/hanami-controller.svg">
      </a>
      <a href="http://travis-ci.org/hanami/controller?branch=1.1.x">
        <img src="https://secure.travis-ci.org/hanami/controller.svg?branch=1.1.x">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/controller?branch=master">
        <img src="https://secure.travis-ci.org/hanami/controller.svg?branch=master">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/controller?branch=develop">
        <img src="https://secure.travis-ci.org/hanami/controller.svg?branch=develop">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/controller?branch=unstable">
        <img src="https://secure.travis-ci.org/hanami/controller.svg?branch=unstable">
      </a>
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/router">
        Router
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-router">
        <img src="https://badge.fury.io/rb/hanami-router.svg">
      </a>
      <a href="http://travis-ci.org/hanami/router?branch=1.1.x">
        <img src="https://secure.travis-ci.org/hanami/router.svg?branch=1.1.x">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/router?branch=master">
        <img src="https://secure.travis-ci.org/hanami/router.svg?branch=master">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/router?branch=develop">
        <img src="https://secure.travis-ci.org/hanami/router.svg?branch=develop">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/router?branch=unstable">
        <img src="https://secure.travis-ci.org/hanami/router.svg?branch=unstable">
      </a>
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/validations">
        Validations
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-validations">
        <img src="https://badge.fury.io/rb/hanami-validations.svg">
      </a>
      <a href="http://travis-ci.org/hanami/validations?branch=1.1.x">
        <img src="https://secure.travis-ci.org/hanami/validations.svg?branch=1.1.x">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/validations?branch=master">
        <img src="https://secure.travis-ci.org/hanami/validations.svg?branch=master">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/validations?branch=develop">
        <img src="https://secure.travis-ci.org/hanami/validations.svg?branch=develop">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/validations?branch=unstable">
        <img src="https://secure.travis-ci.org/hanami/validations.svg?branch=unstable">
      </a>
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/utils">
        Utils
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-utils">
        <img src="https://badge.fury.io/rb/hanami-utils.svg">
      </a>
      <a href="http://travis-ci.org/hanami/utils?branch=1.1.x">
        <img src="https://secure.travis-ci.org/hanami/utils.svg?branch=1.1.x">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/utils?branch=master">
        <img src="https://secure.travis-ci.org/hanami/utils.svg?branch=master">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/utils?branch=develop">
        <img src="https://secure.travis-ci.org/hanami/utils.svg?branch=develop">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/utils?branch=unstable">
        <img src="https://secure.travis-ci.org/hanami/utils.svg?branch=unstable">
      </a>
    </td>
  </tr>
</table>

