---
title: Status
---

<h2>Hanami stable and development status</h2>

<hr>

<h3>Main Hanami Ruby gems</h3>

<table class="status">
  <tr>
    <th>Ruby gem</th>
    <th>Stable gem version</th>
    <th>Stable CI build (2.1)</th>
    <th>Development CI build (2.2)</th>
    <th>Target Hanami version</th>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/hanami">
        Hanami
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami">
        <img src="https://badge.fury.io/rb/hanami.svg">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/hanami/actions?query=workflow%3Aci+branch%3A2.1.x">
        <img src="https://github.com/hanami/hanami/workflows/ci/badge.svg?branch=2.1.x">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/hanami/actions?query=workflow%3Aci+branch%3main">
        <img src="https://github.com/hanami/hanami/workflows/ci/badge.svg?branch=main">
      </a>
    </td>
    <td class="status-hanami-2-yes">
      2.0 (Done)
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/reloader">
        Reloader
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-reloader">
        <img src="https://badge.fury.io/rb/hanami-reloader.svg">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/reloader/actions?query=workflow%3Aci+branch%3A2.1.x">
        <img src="https://github.com/hanami/reloader/workflows/ci/badge.svg?branch=2.1.x">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/reloader/actions?query=workflow%3Aci+branch%3main">
        <img src="https://github.com/hanami/reloader/workflows/ci/badge.svg?branch=main">
      </a>
    </td>
    <td class="status-hanami-2-yes">
      2.0 (Done)
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/rspec">
        RSpec
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-rspec">
        <img src="https://badge.fury.io/rb/hanami-rspec.svg">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/rspec/actions?query=workflow%3Aci+branch%3A2.1.x">
        <img src="https://github.com/hanami/rspec/workflows/ci/badge.svg?branch=2.1.x">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/rspec/actions?query=workflow%3Aci+branch%3main">
        <img src="https://github.com/hanami/rspec/workflows/ci/badge.svg?branch=main">
      </a>
    </td>
    <td class="status-hanami-2-yes">
      2.0 (Done)
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/webconsole">
        Webconsole
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-webconsole">
        <img src="https://badge.fury.io/rb/hanami-webconsole.svg">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/webconsole/actions?query=workflow%3Aci+branch%3A2.1.x">
        <img src="https://github.com/hanami/webconsole/workflows/ci/badge.svg?branch=2.1.x">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/webconsole/actions?query=workflow%3Aci+branch%3main">
        <img src="https://github.com/hanami/webconsole/workflows/ci/badge.svg?branch=main">
      </a>
    </td>
    <td class="status-hanami-2-yes">
      2.1 (Done)
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/cli">
        CLI
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-cli">
        <img src="https://badge.fury.io/rb/hanami-cli.svg">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/cli/actions?query=workflow%3Aci+branch%3A2.1.x">
        <img src="https://github.com/hanami/cli/workflows/ci/badge.svg?branch=2.1.x">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/cli/actions?query=workflow%3Aci+branch%3main">
        <img src="https://github.com/hanami/cli/workflows/ci/badge.svg?branch=main">
      </a>
    </td>
    <td class="status-hanami-2-yes">
      2.0 (Done)
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/model">
        Model
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-model">
        <img src="https://badge.fury.io/rb/hanami-model.svg">
      </a>
    </td>
    <td>
      N/A
    </td>
    <td>
      <a href="https://github.com/hanami/model/actions?query=workflow%3Aci+branch%3main">
        <img src="https://github.com/hanami/model/workflows/ci/badge.svg?branch=main">
      </a>
    </td>
    <td class="status-hanami-2-no">
      2.2 (Not Started)
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/assets">
        Assets
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-assets">
        <img src="https://badge.fury.io/rb/hanami-assets.svg">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/assets/actions?query=workflow%3Aci+branch%3A2.1.x">
        <img src="https://github.com/hanami/assets/workflows/ci/badge.svg?branch=2.1.x">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/assets/actions?query=workflow%3Aci+branch%3Amain">
        <img src="https://github.com/hanami/assets/workflows/ci/badge.svg?branch=main">
      </a>
    </td>
    <td class="status-hanami-2-yes">
      2.1 (Done)
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/mailer">
        Mailer
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-mailer">
        <img src="https://badge.fury.io/rb/hanami-mailer.svg">
      </a>
    </td>
    <td>
      N/A
    </td>
    <td>
      <a href="https://github.com/hanami/mailer/actions?query=workflow%3Aci+branch%3Amain">
        <img src="https://github.com/hanami/mailer/workflows/ci/badge.svg?branch=main">
      </a>
    </td>
    <td class="status-hanami-2-no">
      2.2 (Not Started)
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/helpers">
        Helpers
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-helpers">
        <img src="https://badge.fury.io/rb/hanami-helpers.svg">
      </a>
    </td>
    <td>
      N/A
    </td>
    <td>
      N/A
    </td>
    <td class="status-hanami-2-no">
      N/A (Merge into View)
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/view">
        View
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-view">
        <img src="https://badge.fury.io/rb/hanami-view.svg">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/view/actions?query=workflow%3Aci+branch%3A2.1.x">
        <img src="https://github.com/hanami/view/workflows/ci/badge.svg?branch=2.1.x">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/views/actions?query=workflow%3Aci+branch%3Amain">
        <img src="https://github.com/hanami/view/workflows/ci/badge.svg?branch=main">
      </a>
    </td>
    <td class="status-hanami-2-yes">
      2.1 (Done)
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/controller">
        Controller
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-controller">
        <img src="https://badge.fury.io/rb/hanami-controller.svg">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/controller/actions?query=workflow%3Aci+branch%3A2.1.x">
        <img src="https://github.com/hanami/controller/workflows/ci/badge.svg?branch=2.1.x">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/controller/actions?query=workflow%3Aci+branch%3Amain">
        <img src="https://github.com/hanami/controller/workflows/ci/badge.svg?branch=main">
      </a>
    </td>
    <td class="status-hanami-2-yes">
      2.0 (Done)
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/router">
        Router
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-router">
        <img src="https://badge.fury.io/rb/hanami-router.svg">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/router/actions?query=workflow%3Aci+branch%3A2.1.x">
        <img src="https://github.com/hanami/router/workflows/ci/badge.svg?branch=2.1.x">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/router/actions?query=workflow%3Aci+branch%3Amain">
        <img src="https://github.com/hanami/router/workflows/ci/badge.svg?branch=main">
      </a>
    </td>
    <td class="status-hanami-2-yes">
      2.0 (Done)
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/validations">
        Validations
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-validations">
        <img src="https://badge.fury.io/rb/hanami-validations.svg">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/validations/actions?query=workflow%3Aci+branch%3A2.1.x">
        <img src="https://github.com/hanami/validations/workflows/ci/badge.svg?branch=2.1.x">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/validations/actions?query=workflow%3Aci+branch%3Amain">
        <img src="https://github.com/hanami/validations/workflows/ci/badge.svg?branch=main">
      </a>
    </td>
    <td class="status-hanami-2-yes">
      2.0 (Done)
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/utils">
        Utils
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-utils">
        <img src="https://badge.fury.io/rb/hanami-utils.svg">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/utils/actions?query=workflow%3Aci+branch%3A2.1.x">
        <img src="https://github.com/hanami/utils/workflows/ci/badge.svg?branch=2.1.x">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/utils/actions?query=workflow%3Aci+branch%3Amain">
        <img src="https://github.com/hanami/utils/workflows/ci/badge.svg?branch=main">
      </a>
    </td>
    <td class="status-hanami-2-yes">
      2.0 (Done)
    </td>
  </tr>
</table>

<hr>

<h3>Other Hanami Ruby gems</h3>

<table class="status">
  <tr>
    <th>Ruby gem</th>
    <th>Stable gem version</th>
    <th>Stable CI build</th>
    <th>Development CI build</th>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/api">
        API
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-api">
        <img src="https://badge.fury.io/rb/hanami-api.svg">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/api/actions?query=workflow%3Aci+branch%3A0.3.x">
        <img src="https://github.com/hanami/api/workflows/ci/badge.svg?branch=0.3.x">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/api/actions?query=workflow%3Aci+branch%3Amain">
        <img src="https://github.com/hanami/api/workflows/ci/badge.svg?branch=main">
      </a>
    </td>
  </tr>

</table>

<hr>

<h2>Git branches</h2>

<h3>Development: <code>main</code></h3>
<p><strong>The default Git branch for Hanami repositories is <code>main</code></strong>.<br>
It is the base branch for <strong>future releases</strong>.<br>
<strong>New features must be merged there</strong>.<br>
<strong>New gem pre-releases must happen from <code>main</code></strong>.<br>
Once a gem is released as stable, create a stable branch counterpart.</p>

Example: a new feature for Hanami 2, must be branched from <code>main</code> and merged in <code>main</code>.

<hr>

<h3>Stable: <code>Major.Minor.x</code> (e.g. <code>2.1.x</code>)</h3>
<p><strong>Maintenance code of stable versions must be merged in these branches.</strong><br>
<strong>New gem releases must happen from these branches</strong>.</p>

Example: a bug fix for Hanami 1, must be branched from <code>2.1.x</code> and merged into <code>1.3.x</code>.
