---
title: Status
---

<p>The hanami ecosystem consists of many different parts.</p>

<p>With so many projects, it can be difficult to keep up on the status
of each one. Below is a break-down for each part of hanami, the current
stable released version, and the build status for the master branch.</p>

<table class="status">
  <tr>
    <th>Project</th>	
    <th>Released Version</th>
    <th>Master Build Status</th>
  </tr>
  <tr>
    <td>
      <a href="http://github.com/hanami/hanami">
        Hanami
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami">
        <img src="https://badge.fury.io/rb/hanami.svg">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/hanami?branch=master">
        <img src="https://secure.travis-ci.org/hanami/hanami.svg?branch=master">
      </a>
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/router">
        Router
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-router">
        <img src="https://badge.fury.io/rb/hanami-router.svg">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/router?branch=master">
        <img src="https://secure.travis-ci.org/hanami/router.svg?branch=master">
      </a>
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/controller">
        Controller
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-controller">
        <img src="https://badge.fury.io/rb/hanami-controller.svg">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/controller?branch=master">
        <img src="https://secure.travis-ci.org/hanami/controller.svg?branch=master">
      </a>
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/model">
        Model
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-model">
        <img src="https://badge.fury.io/rb/hanami-model.svg">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/model?branch=master">
        <img src="https://secure.travis-ci.org/hanami/model.svg?branch=master">
      </a>
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/validations">
        Validations
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-validations">
        <img src="https://badge.fury.io/rb/hanami-validations.svg">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/validations?branch=master">
        <img src="https://secure.travis-ci.org/hanami/validations.svg?branch=master">
      </a>
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/utils">
        Utils
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-utils">
        <img src="https://badge.fury.io/rb/hanami-utils.svg">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/utils?branch=master">
        <img src="https://secure.travis-ci.org/hanami/utils.svg?branch=master">
      </a>
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/view">
        View
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-view">
        <img src="https://badge.fury.io/rb/hanami-view.svg">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/view?branch=master">
        <img src="https://secure.travis-ci.org/hanami/view.svg?branch=master">
      </a>
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/helpers">
        Helpers
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-helpers">
        <img src="https://badge.fury.io/rb/hanami-helpers.svg">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/helpers?branch=master">
        <img src="https://secure.travis-ci.org/hanami/helpers.svg?branch=master">
      </a>
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/mailer">
        Mailer
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-mailer">
        <img src="https://badge.fury.io/rb/hanami-mailer.svg">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/mailer?branch=master">
        <img src="https://secure.travis-ci.org/hanami/mailer.svg?branch=master">
      </a>
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/assets">
        Assets
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-assets">
        <img src="https://badge.fury.io/rb/hanami-assets.svg">
      </a>
    </td>
    <td>
      <a href="http://travis-ci.org/hanami/assets?branch=master">
        <img src="https://secure.travis-ci.org/hanami/assets.svg?branch=master">
      </a>
    </td>
  </tr>
</table>

