---
title: Status
---

<p>Hanami ecosystem consists of many different gems.</p>

<p>With so many projects, it can be difficult to keep up on the status
of each one. Below is a break-down for each part of Hanami, the current
stable released version, the build status for <tt>master</tt>, <tt>develop</tt>, and <tt>unstable</tt> branches.</p>

<table class="status">
  <tr>
    <th>Project</th>
    <th>Stable (1.3.x) </th>
    <th>Master (1.3.x) </th>
    <th>Develop (1.3.x) </th>
    <th>Unstable (2.0.x) </th>
    <th>Ready for 2.0</th>
  </tr>
  <tr>
    <td>
      <a href="http://github.com/hanami/hanami">
        Hanami
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami">
        <img src="https://badge.fury.io/rb/hanami.svg">
      </a>
      <a href="https://github.com/hanami/hanami/actions?query=workflow%3Aci+branch%3A1.3.x">
        <img src="https://github.com/hanami/hanami/workflows/ci/badge.svg?branch=1.3.x">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/hanami/actions?query=workflow%3Aci+branch%3master">
        <img src="https://github.com/hanami/hanami/workflows/ci/badge.svg?branch=master">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/hanami/actions?query=workflow%3Aci+branch%3Adevelop">
        <img src="https://github.com/hanami/hanami/workflows/ci/badge.svg?branch=master">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/hanami/actions?query=workflow%3Aci+branch%3Aunstable">
        <img src="https://github.com/hanami/hanami/workflows/ci/badge.svg?branch=unstable">
      </a>
    </td>
    <td class="status-hanami-2-wip">
      Work In Progress
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/api">
        API
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-api">
        <img src="https://badge.fury.io/rb/hanami-api.svg">
      </a>
      -
    </td>
    <td>
      <a href="https://github.com/hanami/api/actions?query=workflow%3Aci+branch%3master">
        <img src="https://github.com/hanami/api/workflows/ci/badge.svg?branch=master">
      </a>
    </td>
    <td>
      -
    </td>
    <td>
      -
    </td>
    <td class="status-hanami-2-yes">
      Yes
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/model">
        Model
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-model">
        <img src="https://badge.fury.io/rb/hanami-model.svg">
      </a>
      <a href="https://github.com/hanami/model/actions?query=workflow%3Aci+branch%3A1.3.x">
        <img src="https://github.com/hanami/model/workflows/ci/badge.svg?branch=1.3.x">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/model/actions?query=workflow%3Aci+branch%3Amaster">
        <img src="https://github.com/hanami/model/workflows/ci/badge.svg?branch=master">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/model/actions?query=workflow%3Aci+branch%3Adevelop">
        <img src="https://github.com/hanami/model/workflows/ci/badge.svg?branch=develop">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/model/actions?query=workflow%3Aci+branch%3Aunstable">
        <img src="https://github.com/hanami/model/workflows/ci/badge.svg?branch=unstable">
      </a>
    </td>
    <td class="status-hanami-2-na">
      N/A (deprecated in favor of ROM)
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/assets">
        Assets
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-assets">
        <img src="https://badge.fury.io/rb/hanami-assets.svg">
      </a>
      <a href="https://github.com/hanami/assets/actions?query=workflow%3Aci+branch%3A1.3.x">
        <img src="https://github.com/hanami/assets/workflows/ci/badge.svg?branch=1.3.x">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/assets/actions?query=workflow%3Aci+branch%3Amaster">
        <img src="https://github.com/hanami/assets/workflows/ci/badge.svg?branch=master">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/assets/actions?query=workflow%3Aci+branch%3Adevelop">
        <img src="https://github.com/hanami/assets/workflows/ci/badge.svg?branch=develop">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/assets/actions?query=workflow%3Aci+branch%3Aunstable">
        <img src="https://github.com/hanami/assets/workflows/ci/badge.svg?branch=unstable">
      </a>
    </td>
    <td class="status-hanami-2-no">
      No
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/mailer">
        Mailer
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-mailer">
        <img src="https://badge.fury.io/rb/hanami-mailer.svg">
      </a>
      <a href="https://github.com/hanami/mailer/actions?query=workflow%3Aci+branch%3A1.3.x">
        <img src="https://github.com/hanami/mailer/workflows/ci/badge.svg?branch=1.3.x">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/mailer/actions?query=workflow%3Aci+branch%3Amaster">
        <img src="https://github.com/hanami/mailer/workflows/ci/badge.svg?branch=master">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/mailer/actions?query=workflow%3Aci+branch%3Adevelop">
        <img src="https://github.com/hanami/mailer/workflows/ci/badge.svg?branch=develop">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/mailer/actions?query=workflow%3Aci+branch%3Aunstable">
        <img src="https://github.com/hanami/mailer/workflows/ci/badge.svg?branch=unstable">
      </a>
    </td>
    <td class="status-hanami-2-yes">
      Yes
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/helpers">
        Helpers
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-helpers">
        <img src="https://badge.fury.io/rb/hanami-helpers.svg">
      </a>
      <a href="https://github.com/hanami/helpers/actions?query=workflow%3Aci+branch%3A1.3.x">
        <img src="https://github.com/hanami/helpers/workflows/ci/badge.svg?branch=1.3.x">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/helpers/actions?query=workflow%3Aci+branch%3Amaster">
        <img src="https://github.com/hanami/helpers/workflows/ci/badge.svg?branch=master">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/helpers/actions?query=workflow%3Aci+branch%3Adevelop">
        <img src="https://github.com/hanami/helpers/workflows/ci/badge.svg?branch=develop">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/helpers/actions?query=workflow%3Aci+branch%3Aunstable">
        <img src="https://github.com/hanami/helpers/workflows/ci/badge.svg?branch=unstable">
      </a>
    </td>
    <td class="status-hanami-2-wip">
      Work In Progress
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/view">
        View
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-view">
        <img src="https://badge.fury.io/rb/hanami-view.svg">
      </a>
      <a href="https://github.com/hanami/views/actions?query=workflow%3Aci+branch%3A1.3.x">
        <img src="https://github.com/hanami/view/workflows/ci/badge.svg?branch=1.3.x">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/views/actions?query=workflow%3Aci+branch%3A1.x-master">
        <img src="https://github.com/hanami/view/workflows/ci/badge.svg?branch=1.x-master">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/views/actions?query=workflow%3Aci+branch%3Adevelop">
        <img src="https://github.com/hanami/view/workflows/ci/badge.svg?branch=develop">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/views/actions?query=workflow%3Aci+branch%3Amaster">
        <img src="https://github.com/hanami/view/workflows/ci/badge.svg?branch=master">
      </a>
    </td>
    <td class="status-hanami-2-wip">
      Work In Progress
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/controller">
        Controller
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-controller">
        <img src="https://badge.fury.io/rb/hanami-controller.svg">
      </a>
      <a href="https://github.com/hanami/controller/actions?query=workflow%3Aci+branch%3A1.3.x">
        <img src="https://github.com/hanami/controller/workflows/ci/badge.svg?branch=1.3.x">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/controller/actions?query=workflow%3Aci+branch%3Amaster">
        <img src="https://github.com/hanami/controller/workflows/ci/badge.svg?branch=master">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/controller/actions?query=workflow%3Aci+branch%3Adevelop">
        <img src="https://github.com/hanami/controller/workflows/ci/badge.svg?branch=develop">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/controller/actions?query=workflow%3Aci+branch%3Aunstable">
        <img src="https://github.com/hanami/controller/workflows/ci/badge.svg?branch=unstable">
      </a>
    </td>
    <td class="status-hanami-2-wip">
      Work In Progress
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/router">
        Router
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-router">
        <img src="https://badge.fury.io/rb/hanami-router.svg">
      </a>
      <a href="https://github.com/hanami/router/actions?query=workflow%3Aci+branch%3A1.3.x">
        <img src="https://github.com/hanami/router/workflows/ci/badge.svg?branch=1.3.x">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/router/actions?query=workflow%3Aci+branch%3Amaster">
        <img src="https://github.com/hanami/router/workflows/ci/badge.svg?branch=master">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/router/actions?query=workflow%3Aci+branch%3Adevelop">
        <img src="https://github.com/hanami/router/workflows/ci/badge.svg?branch=develop">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/router/actions?query=workflow%3Aci+branch%3Aunstable">
        <img src="https://github.com/hanami/router/workflows/ci/badge.svg?branch=unstable">
      </a>
    </td>
    <td class="status-hanami-2-wip">
      Work In Progress
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/validations">
        Validations
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-validations">
        <img src="https://badge.fury.io/rb/hanami-validations.svg">
      </a>
      <a href="https://github.com/hanami/validations/actions?query=workflow%3Aci+branch%3A1.3.x">
        <img src="https://github.com/hanami/validations/workflows/ci/badge.svg?branch=1.3.x">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/validations/actions?query=workflow%3Aci+branch%3Amaster">
        <img src="https://github.com/hanami/validations/workflows/ci/badge.svg?branch=master">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/validations/actions?query=workflow%3Aci+branch%3Adevelop">
        <img src="https://github.com/hanami/validations/workflows/ci/badge.svg?branch=develop">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/validations/actions?query=workflow%3Aci+branch%3Aunstable">
        <img src="https://github.com/hanami/validations/workflows/ci/badge.svg?branch=unstable">
      </a>
    </td>
    <td class="status-hanami-2-yes">
      Yes
    </td>
  </tr>

  <tr>
    <td>
      <a href="http://github.com/hanami/utils">
        Utils
      </a>
    </td>
    <td>
      <a href="http://badge.fury.io/rb/hanami-utils">
        <img src="https://badge.fury.io/rb/hanami-utils.svg">
      </a>
      <a href="https://github.com/hanami/utils/actions?query=workflow%3Aci+branch%3A1.3.x">
        <img src="https://github.com/hanami/utils/workflows/ci/badge.svg?branch=1.3.x">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/utils/actions?query=workflow%3Aci+branch%3Amaster">
        <img src="https://github.com/hanami/utils/workflows/ci/badge.svg?branch=master">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/utils/actions?query=workflow%3Aci+branch%3Adevelop">
        <img src="https://github.com/hanami/utils/workflows/ci/badge.svg?branch=develop">
      </a>
    </td>
    <td>
      <a href="https://github.com/hanami/utils/actions?query=workflow%3Aci+branch%3Aunstable">
        <img src="https://github.com/hanami/utils/workflows/ci/badge.svg?branch=unstable">
      </a>
    </td>
    <td class="status-hanami-2-yes">
      Yes
    </td>
  </tr>
</table>

