---
title: Team
---

<h2>Hanami Core Team</h2>

<div class="container-fluid">
  <div class="row my-4">
    <div class="col-sm-6">
      <ul class="featured-list featured-list-bordered">
        <li class="mb-5">
          <div class="featured-list-icon">
            <img class="team-avatar" src="https://avatars0.githubusercontent.com/u/5089?v=3&s=460">
          </div>

          <h3><a href="https://twitter.com/jodosha">Luca Guidi</a></h3>
          <h4>Open Source author Ruby/Go (Hanami, Redis::Store, <a href="https://dry-rb.org/" target="_blank">dry-rb</a> core team). Backend Architect at <a href="https://toptal.com" target="_blank">Toptal</a>.</h4>
          <p>Rome, Italy &mdash; Since 2013</p>
        </li>

        <li>
          <div class="featured-list-icon">
            <img class="team-avatar" src="https://avatars.githubusercontent.com/u/3134?v=3&s=460">
          </div>

          <h3><a href="https://twitter.com/timriley">Tim Riley</a></h3>
          <h4>Principal Engineer at <a href="https://cultureamp.com" target="_blank">Culture Amp</a>. Core team at <a href="https://dry-rb.org" target="_blank">dry-rb</a>, <a href="https://rom-rb.org" target="_blank">rom-rb</a>, and Hanami. Formerly, partner at <a href="https://www.icelab.com.au/" target="_blank">icelab</a>.</h4>
          <p>Canberra, Australia &mdash; Since 2019</p>
        </li>
      </ul>
    </div>
    <div class="col-sm-6">
      <ul class="featured-list featured-list-bordered">
        <li class="mb-5">
          <div class="featured-list-icon">
            <img class="team-avatar" src="https://avatars2.githubusercontent.com/u/10281?v=3&s=460">
          </div>

          <h3><a href="https://twitter.com/mereghost">Marcello Rocha</a></h3>
          <h4>Like you, I try to coax computers to do what I want, with mixed success. Works at <a href="https://shopify.com" target="_blank">Shopify</a>.</h4>
          <p>Berlin, Germany &mdash; Since 2016</p>
        </li>

        <li>
          <div class="featured-list-icon">
            <img class="team-avatar" src="https://avatars.githubusercontent.com/u/1066?v=3&s=460">
          </div>

          <h3><a href="https://twitter.com/_solnic_">Piotr Solnica</a></h3>
          <h4>Piotr is a software consultant and an Open-Source hacker. He created <a href="https://rom-rb.org" target="_blank">ROM</a> project and co-established <a href="https://dry-rb.org" target="_blank">dry-rb</a>.</h4>
          <p>Kraków, Poland &mdash; Since 2019</p>
        </li>
      </ul>
    </div>
  </div>
</div>

<h2>Alumni</h2>
<div class="container-fluid">
  <div class="row my-4">
    <div class="col-sm-6">
      <ul class="featured-list featured-list-bordered">
        <li class="mb-5">
          <div class="featured-list-icon">
            <img class="team-avatar" src="https://avatars2.githubusercontent.com/u/135605?v=3&s=460">
          </div>

          <h3><a href="https://twitter.com/joneslee85">Trung Lê</a></h3>
          <p>Melbourne, Australia</p>
        </li>

        <li class="mb-5">
          <div class="featured-list-icon">
            <img class="team-avatar" src="https://avatars2.githubusercontent.com/u/1147484?v=3&s=460">
          </div>

          <h3><a href="https://twitter.com/anton_davydov">Anton Davydov</a></h3>
          <p>Moscow, Russia</p>
        </li>

        <li class="mb-5">
          <div class="featured-list-icon">
            <img class="team-avatar" src="https://avatars2.githubusercontent.com/u/248372?v=3&s=460">
          </div>

          <h3><a href="https://twitter.com/TiteiKo">Marion Duprey</a></h3>
          <p>Paris, France</p>
        </li>

        <li class="mb-5">
          <div class="featured-list-icon">
            <img class="team-avatar" src="https://avatars0.githubusercontent.com/u/3356996?v=3&s=460">
          </div>

          <h3><a href="https://twitter.com/oanasipos">Oana Sipos</a></h3>
          <p>Cluj-Napoca, Romania</p>
        </li>
      </ul>
    </div>
    <div class="col-sm-6">
      <ul class="featured-list featured-list-bordered">
        <li class="mb-5">
          <div class="featured-list-icon">
            <img class="team-avatar" src="https://avatars2.githubusercontent.com/u/925961?v=3&s=460">
          </div>

          <h3><a href="https://twitter.com/joshka20">Alfonso Uceda</a></h3>
          <p>Madrid, Spain</p>
        </li>

        <li>
          <div class="featured-list-icon">
            <img class="team-avatar" src="https://avatars2.githubusercontent.com/u/632942?v=3&s=460">
          </div>

          <h3><a href="https://twitter.com/seancllns">Sean Collins</a></h3>
          <p>Boulder, United States</p>
        </li>

        <li>
          <div class="featured-list-icon">
            <img class="team-avatar" src="https://avatars2.githubusercontent.com/u/5722022?v=3&s=460">
          </div>

          <h3><a href="https://twitter.com/rubydwarf">Marion Schleifer</a></h3>
          <p>Zurich, Switzerland</p>
        </li>
      </ul>
    </div>
  </div>
</div>
