---
title: Team
---

<h2>Hanami Core Team</h2>

<div class="container-fluid">
  <div class="row my-4">
    <div class="col-sm-6">
      <ul class="featured-list featured-list-bordered">
        <li class="mb-5">
          <div class="featured-list-icon">
            <img class="team-avatar" src="https://avatars0.githubusercontent.com/u/5089?v=3&s=460">
          </div>

          <h3><a href="https://twitter.com/jodosha">Luca Guidi</a></h3>
          <h4>Creator of Hanami</h4>
          <p>Rome, Italy &mdash; <a href="http://contributors.hanamirb.org/contributors/jodosha" target="_blank">commits</a></p>
        </li>

        <li>
          <div class="featured-list-icon">
            <img class="team-avatar" src="https://avatars2.githubusercontent.com/u/1147484?v=3&s=460">
          </div>

          <h3><a href="https://twitter.com/anton_davydov">Anton Davydov</a></h3>
          <h4>Ecosystem</h4>
          <p>Saint Petersburg, Russia &mdash; <a href="http://contributors.hanamirb.org/contributors/davydovanton" target="_blank">commits</a></p>
        </li>

        <li>
          <div class="featured-list-icon">
            <img class="team-avatar" src="https://avatars2.githubusercontent.com/u/248372?v=3&s=460">
          </div>

          <h3><a href="https://twitter.com/TiteiKo">Marion Duprey</a></h3>
          <h4>Issues</h4>
          <p>Paris, France &mdash; <a href="http://contributors.hanamirb.org/contributors/TiteiKo" target="_blank">commits</a></p>
        </li>

        <li>
          <div class="featured-list-icon">
            <img class="team-avatar" src="https://avatars0.githubusercontent.com/u/3356996?v=3&s=460">
          </div>

          <h3><a href="https://twitter.com/oanasipos">Oana Sipos</a></h3>
          <h4>Community</h4>
          <p>Cluj-Napoca, Romania &mdash; <a href="http://contributors.hanamirb.org/contributors/oana-sipos" target="_blank">commits</a></p>
        </li>
      </ul>
    </div>
    <div class="col-sm-6">
      <ul class="featured-list featured-list-bordered">
        <li class="mb-5">
          <div class="featured-list-icon">
            <img class="team-avatar" src="https://avatars2.githubusercontent.com/u/925961?v=3&s=460">
          </div>

          <h3><a href="https://twitter.com/joshka20">Alfonso Uceda</a></h3>
          <h4>Issues</h4>
          <p>Madrid, Spain &mdash; <a href="http://contributors.hanamirb.org/contributors/AlfonsoUceda" target="_blank">commits</a></p>
        </li>

        <li>
          <div class="featured-list-icon">
            <img class="team-avatar" src="https://avatars2.githubusercontent.com/u/632942?v=3&s=460">
          </div>

          <h3><a href="https://twitter.com/seancllns">Sean Collins</a></h3>
          <h4>Ecosystem</h4>
          <p>Boulder, United States &mdash; <a href="http://contributors.hanamirb.org/contributors/cllns" target="_blank">commits</a></p>
        </li>

        <li>
          <div class="featured-list-icon">
            <img class="team-avatar" src="https://avatars2.githubusercontent.com/u/10281?v=3&s=460">
          </div>

          <h3><a href="https://twitter.com/mereghost">Marcello Rocha</a></h3>
          <h4>Issues</h4>
          <p>Sao Paulo, Brazil &mdash; <a href="http://contributors.hanamirb.org/contributors/mereghost" target="_blank">commits</a></p>
        </li>

        <li>
          <div class="featured-list-icon">
            <img class="team-avatar" src="https://avatars2.githubusercontent.com/u/5722022?v=3&s=460">
          </div>

          <h3><a href="https://twitter.com/marionschleifer">Marion Schleifer</a></h3>
          <h4>Community</h4>
          <p>Zurich, Switzerland &mdash; <a href="http://contributors.hanamirb.org/contributors/marionschleifer" target="_blank">commits</a></p>
        </li>
      </ul>
    </div>
  </div>
</div>

<h2>Alumni</h2>
<div class="container-fluid">
  <div class="row my-4">
    <div class="col-sm-6">
      <ul class="featured-list featured-list-bordered">
        <li class="mb-5">
          <div class="featured-list-icon">
            <img class="team-avatar" src="https://avatars2.githubusercontent.com/u/135605?v=3&s=460">
          </div>

          <h3><a href="https://twitter.com/joneslee85">Trung Lê</a></h3>
          <p>Melbourne, Australia &mdash; <a href="http://contributors.hanamirb.org/contributors/joneslee85" target="_blank">commits</a></p>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="core-map">
  <div id="map"></div>
  <script>
    function initMap() {
      var myoverlay = new google.maps.OverlayView();
      myoverlay.draw = function () {
        //this assigns an id to the markerlayer Pane, so it can be referenced by CSS
        this.getPanes().markerLayer.id='markerLayer';
      };
      myoverlay.setMap(map);

      var features = [
        {
          position: new google.maps.LatLng(41.908639, 12.496707),
          icon_url: "https://avatars0.githubusercontent.com/u/5089?v=3&s=60",
          name: 'Luca Guidi'
        },
        {
          position: new google.maps.LatLng(59.934280, 30.335099),
          icon_url: "https://avatars2.githubusercontent.com/u/1147484?v=3&s=60",
          name: 'Anton Davydov'
        },
        {
          position: new google.maps.LatLng(48.856614, 2.352222),
          icon_url: "https://avatars2.githubusercontent.com/u/248372?v=3&s=60",
          name: 'Marion Duprey'
        },
        {
          position: new google.maps.LatLng(46.771210, 23.623635),
          icon_url: "https://avatars0.githubusercontent.com/u/3356996?v=3&s=60",
          name: 'Oana Sipos'
        },
        {
          position: new google.maps.LatLng(40.416775, -3.703790),
          icon_url: "https://avatars2.githubusercontent.com/u/925961?v=3&s=60",
          name: 'Alfonso Uceda'
        },
        {
          position: new google.maps.LatLng(40.014986, -105.270546),
          icon_url: "https://avatars2.githubusercontent.com/u/632942?v=3&s=60",
          name: 'Sean Collins'
        },
        {
          position: new google.maps.LatLng(-23.543179, -46.629185),
          icon_url: "https://avatars2.githubusercontent.com/u/10281?v=3&s=60",
          name: 'Marcello Rocha'
        },
        {
          position: new google.maps.LatLng(47.376887, 8.541694),
          icon_url: "https://avatars2.githubusercontent.com/u/5722022?v=3&s=60",
          name: 'Marion Schleifer'
        }
      ];

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 2,
        center: { lat: 35, lng: -30 }
      });

      function addMarker(feature) {
        var infowindow = new google.maps.InfoWindow({content: feature.name});

        var shape = new google.maps.Circle({
          radius: 100
        });

        var icon = {
          url: feature.icon_url,
          scaledSize: new google.maps.Size(30, 30),
          anchor: new google.maps.Point(15, 15)
        };

        var marker = new google.maps.Marker({
          position: feature.position,
          shape: shape,
          icon: icon,
          title: feature.name,
          map: map
        });

        marker.addListener("mouseover", function() {
          infowindow.open(map, marker);
        });

        marker.addListener("mouseout", function() {
          infowindow.close();
        });
      }

      for (var i = 0, feature; feature = features[i]; i++) {
        addMarker(feature)
      }
    }
  </script>
  <script async defer src="//maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCD6aZnKrUWStG469WrliKLMbBwTil8Skc&callback=window.initMap"></script>
</div>

