---
title: Team
---

<h2>Hanami Core Team</h2>

<div class="container-fluid">
  <div class="row my-4">
    <div class="col-sm-6">
      <ul class="featured-list featured-list-bordered">
        <li class="mb-5">
          <div class="featured-list-icon">
            <img class="team-avatar" src="https://avatars0.githubusercontent.com/u/5089?v=3&s=460">
          </div>

          <h3><a href="https://twitter.com/jodosha">Luca Guidi</a></h3>
          <h4>Creator of Hanami</h4>
          <p>Rome, Italy &mdash; <a href="http://contributors.hanamirb.org/contributors/jodosha" target="_blank">commits</a></p>
        </li>

        <li>
          <div class="featured-list-icon">
            <img class="team-avatar" src="https://avatars2.githubusercontent.com/u/1147484?v=3&s=460">
          </div>

          <h3><a href="https://twitter.com/anton_davydov">Anton Davydov</a></h3>
          <h4>Ecosystem</h4>
          <p>Saint Petersburg, Russia &mdash; <a href="http://contributors.hanamirb.org/contributors/davydovanton" target="_blank">commits</a></p>
        </li>

        <li>
          <div class="featured-list-icon">
            <img class="team-avatar" src="https://avatars2.githubusercontent.com/u/248372?v=3&s=460">
          </div>

          <h3><a href="https://twitter.com/TiteiKo">Marion Duprey</a></h3>
          <h4>Issues</h4>
          <p>Paris, France &mdash; <a href="http://contributors.hanamirb.org/contributors/TiteiKo" target="_blank">commits</a></p>
        </li>

        <li>
          <div class="featured-list-icon">
            <img class="team-avatar" src="https://avatars0.githubusercontent.com/u/3356996?v=3&s=460">
          </div>

          <h3><a href="https://twitter.com/oanasipos">Oana Sipos</a></h3>
          <h4>Community</h4>
          <p>Cluj-Napoca, Romania &mdash; <a href="http://contributors.hanamirb.org/contributors/oana-sipos" target="_blank">commits</a></p>
        </li>
      </ul>
    </div>
    <div class="col-sm-6">
      <ul class="featured-list featured-list-bordered">
        <li class="mb-5">
          <div class="featured-list-icon">
            <img class="team-avatar" src="https://avatars2.githubusercontent.com/u/925961?v=3&s=460">
          </div>

          <h3><a href="https://twitter.com/joshka20">Alfonso Uceda</a></h3>
          <h4>Issues</h4>
          <p>Madrid, Spain &mdash; <a href="http://contributors.hanamirb.org/contributors/AlfonsoUceda" target="_blank">commits</a></p>
        </li>

        <li>
          <div class="featured-list-icon">
            <img class="team-avatar" src="https://avatars2.githubusercontent.com/u/632942?v=3&s=460">
          </div>

          <h3><a href="https://twitter.com/seancllns">Sean Collins</a></h3>
          <h4>Ecosystem</h4>
          <p>Boulder, United States &mdash; <a href="http://contributors.hanamirb.org/contributors/cllns" target="_blank">commits</a></p>
        </li>

        <li>
          <div class="featured-list-icon">
            <img class="team-avatar" src="https://avatars2.githubusercontent.com/u/10281?v=3&s=460">
          </div>

          <h3><a href="https://twitter.com/mereghost">Marcello Rocha</a></h3>
          <h4>Issues</h4>
          <p>Sao Paulo, Brazil &mdash; <a href="http://contributors.hanamirb.org/contributors/mereghost" target="_blank">commits</a></p>
        </li>

        <li>
          <div class="featured-list-icon">
            <img class="team-avatar" src="https://avatars2.githubusercontent.com/u/5722022?v=3&s=460">
          </div>

          <h3><a href="https://twitter.com/rubydwarf">Marion Schleifer</a></h3>
          <h4>Community</h4>
          <p>Zurich, Switzerland &mdash; <a href="http://contributors.hanamirb.org/contributors/marionschleifer" target="_blank">commits</a></p>
        </li>
      </ul>
    </div>
  </div>
</div>

<h2>Alumni</h2>
<div class="container-fluid">
  <div class="row my-4">
    <div class="col-sm-6">
      <ul class="featured-list featured-list-bordered">
        <li class="mb-5">
          <div class="featured-list-icon">
            <img class="team-avatar" src="https://avatars2.githubusercontent.com/u/135605?v=3&s=460">
          </div>

          <h3><a href="https://twitter.com/joneslee85">Trung Lê</a></h3>
          <p>Melbourne, Australia &mdash; <a href="http://contributors.hanamirb.org/contributors/joneslee85" target="_blank">commits</a></p>
        </li>
      </ul>
    </div>
  </div>
</div>
