.terminal-window {
  text-align: left;
  max-width: 940px;
  height: 490px;
  border-radius: 3px;
  margin: auto;
  position: relative;
  @include box-shadow(0 0 15px rgba(50,23,48,.15)); // drop shadow

  header {
    margin-top: 96px;
    background: #774974;
    height: 42px;
    border-radius: 6px 6px 0 0;
    padding-left: 20px;

    .button {
      background-color: #e4dbe3;
      width: 12px;
      height: 12px;
      margin: 15px 4px 0 0;
      display: inline-block;
      border-radius: 8px;
    }

  }

  section.terminal {
    color: white;
    font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
    background: #321730;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 42px;
    bottom: 0;
    overflow: auto;

    .typed-cursor {
      opacity: 1;
      -webkit-animation: blink 0.7s infinite;
      -moz-animation: blink 0.7s infinite;
      animation: blink 0.7s infinite;
    }

  }
}

@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.terminal-data { display: none; }
.terminal-window .gray { color: gray; }
